.header {
  margin: 10px 0px 60px 0px;
}

.header .avatar {
  max-width: 160px;
  margin-right: 8px;
}

.content article img {
  max-width: 100%;
}

/* Statuses */
article.format-status {
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 3px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
