@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600|Source+Sans+Pro:400i,600');

body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  margin: 10px 0px 60px 0px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 20px;
}

  .single h3 a {
    text-decoration: none;
  }

a, a:visited, a:hover {
  color: #274971;
  text-decoration: underline;
}

.nav a {
  text-decoration: none;
}
  .nav li.active a, .nav a:hover {
    background-color: #eee;
  }

.social-icons {
  margin: 10px 0px;
}

  .social-icons i {
    font-size: 1.5rem;
  }

  .social-icons a {
    color: #a8a8a8;
    width: 16%;
    padding-left: 5px;
  }

article {
  margin-bottom: 40px;
}

  article img {
    max-width: 100%;
  }

  article blockquote {
    border-left: 3px solid #a8a8a8;
    padding-left: 30px;
    color: #666666;
  }

  .alsoon {
    font-size: 0.8rem;
  }

/* Statuses */
article.format-status, article.format-image {
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.sidebar-section {
  margin-bottom: 20px;
}

  .sidebar-section ul {
    list-style: none;
    padding-left: 0px;
  }

  .sidebar-section.links ul li {
    margin-bottom: 10px;
  }

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
  .header h1 {
    text-align: center;
  }
  .header p {
    text-align: center;
  }

}
