body {
  line-height: 1.7;
  font-weight: 300;
  font-size: 14px;
  font-family: "Source Sans Pro";
}

.navbar {
  margin-bottom:0;
  border:none;
  background-color: #fff !important;
}

.navbar-brand .glyphicon {
  margin-right:6px;
}

.navbar-default {
  background-color: #fff !important;
}

.hero{
  background:url(../../assets/images/IMG_2565.jpg) no-repeat center;
  background-size:cover;
  border:none;
}

@media (max-width:992px) {
  .hero .get-it{
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview{
    text-align:center;
  }
}

.hero .get-it h1, .hero .get-it p {
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,0.5);
  margin-bottom:40px;
}

.hero .get-it .btn{
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
}

div.iphone-mockup{
  position:relative;
  display:inline-block;
}

.iphone-mockup img.device{
  width:100%;
  height:auto;
}

.iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/screen-content-iphone-6.jpg);
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature{
  text-align:center;
}

.icon-feature .glyphicon {
  font-size:60px;
}

section.features{
  background-color:#38445c;
  padding:40px 0;
  color:#fff;
}

.features h2{
  color:#fff;
}

.features .icon-features{
  margin-top:15px;
}

.testimonials blockquote{
  text-align:center;
}

section.testimonials{
  margin:50px 0;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:20px;
}

.social-icons a:hover{
  opacity: 1;
}

.social-icons a {
  display: inline-block;
  width: 55px; height: 55px;
  font-size: 25px;
  line-height: 55px;
  border: none;
  border-radius: 50%;
  margin: 4px;
  color: #fff;
  text-align: center;
  background-color: #38445c;
  opacity: 0.8;

}

img {
  max-width: 100%;
}
.nav a { font-weight: 400; }
.nav a.bg-success { font-weight: 500; color: #fff !important; }
.nav a.bg-success:hover, .nav .active a.bg-success { color: #000 !important; }
.features ul {
  list-style: none;
}

.ownertitle { color: #eee; }

.home h2 {
  margin-bottom: 40px;
}
/* Used for hire page */
.page-id-3381 strong {
  background-color: #fdffb6; padding: 2px;
}

article.post { margin-bottom: 75px; }

body.blog article.format-status, body.search article.format-status, body.archive.tax-post_format.term-post-format-status article.format-status { background-color: #ebebeb; padding: 25px 12px 25px 12px; }
  body.blog article.format-status a.status-date, body.search article.format-status a.status-date, body.archive.tax-post_format.term-post-format-status article.format-status a.status-date, .statuses a.status-date { font-size: 14px; color: #999; }

body.single article.format-status .status-date { font-size: 14px; }

.statuses p, .blogposts p, .photos p, article p, article ul li, article ol li {
  font-size: 17.5px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.2;
}

/* More spacing between paragraphs on single pages / posts */
body.single article.format-standard p, body.single article.format-image p, body.single article.format-audio p, body.page article p, body.single article ul  {
  margin: 0px 0px 30px 0px;
}

blockquote p {
  margin: 0px 0px 0px 0px !important;
}

body.single article, body.page article { margin-top: 60px; }

h3 a, h4 a, h5 a, .statuses p a, .blogposts p a, .photos p a, article p a, article ul li a, article ol li a {
  color: #38445c;
}
.statuses p a, .blogposts p a, .photos p a, article p a, article ul li a, article ol li a { text-decoration: underline; }
.statuses .item, .blogposts .item {
  padding-bottom: 20px;
}
.blogposts h4 {
  font-size: 20px;
  padding-top: 0px; margin-top: 0px;
}
p.text-muted { font-size: 14px; }
.site-footer h5 {
  font-size: 14px;
}

.sidebar { margin-top: 60px;}
  .sidebar img.avatar { max-width: 75%; }
  .sidebar .sidebar-section { font-size: 14px; font-weight: 400; margin-bottom: 30px; }



article p a {
  text-decoration: underline;
}
.btn-primary, .btn-primary:hover { background-color: #38445c; border-color: #2A3346; }
a.btn-success { text-decoration: none; }

.item p a { text-decoration: underline; }

body.single article.post_format-post-format-status { margin-top: 40px; }
article.post_format-post-format-image { text-align: center; }

body.single article.format-image p.published-on { font-size: 14px; color: #737373; }

ul.filterposts { list-style: none; padding: 0px 0px 0px 15px; margin-bottom: 20px; }
  ul.filterposts li { height: 25px; }

#searchform label, .search-form span { display: none; }

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

/* pings stuff */
.reply { display: none; }

.emojiemo-add, .emojiemo-existing { height: 25px !important; }

.fa { line-height: inherit; }

.p-author { visibility: hidden; }

.taglist, .taglist a, .taglist a:hover, .taglist a:visited { color: #999; }
